<footer class="bg-primary text-white text-center text-lg-start" >
    <!-- Grid container -->
    <div class="container p-4" style="background-color: darkorange;">
        <!--Grid row-->
        <div class="row">
            <!--Grid column-->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 style="font-size: 16px; border-bottom: 1px solid #435468;">Bogotá - Colombia (Cra.13#13-24 - oficina 909)</h5>

                <p style="font-size: 14px;">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
                    molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam
                    voluptatem veniam, est atque cumque eum delectus sint!
                </p>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase" style="font-size: 16px; border-bottom: 1px solid #435468; text-decoration: none;">Areas especialización</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!"style="font-size: 14px; color: #435468; text-decoration: none;">Administrativo</a>
                    </li>
                    <li>
                        <a href="#!"style="font-size: 14px; color: #435468; text-decoration: none;">Familiar</a>
                    </li>
                    <li>
                        <a href="#!"style="font-size: 14px; color: #435468; text-decoration: none;">Civil</a>
                    </li>
                    <li>
                        <a href="#!"style="font-size: 14px; color: #435468; text-decoration: none;">Laboral</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <h5 class="text-uppercase" style="font-size: 16px; border-bottom: 1px solid #435468; margin-bottom: .5rem;">Rutas</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="/logInAdmin" style="font-size: 14px; color: #435468; text-decoration: none;">Admin</a>
                    </li>
                    <li>
                        <a href="#!"style="font-size: 14px; color: #435468; text-decoration: none;">Contacto</a>
                    </li>
                    <li>
                        <a href="#!"style="font-size: 14px; color: #435468; text-decoration: none;">Abogados</a>
                    </li>
                    <li>
                        <a href="#!"style="font-size: 14px; color: #435468; text-decoration: none;">Politica de privacidad</a>
                    </li>
                </ul>
            </div>
            <!--Grid column-->
        </div>
        <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: #435468; color: white">
        © 2023 Copyright: magnaabogados.com

    </div>
    <!-- Copyright -->
</footer>