  <nav class="navbar navbar-expand-lg navbar-light bg-light navContenedor">

    <div class="container-fluid">
      <div class="col cssHg">
        <img src="/Imagenes/IconoMagnaAbogados.png">
        <h1 class="headerMagna">Magna</h1>
        <h1 class="headerAbogados">Abogados</h1>
      </div>
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <div class="col cssHg d-flex justify-content-end" id="navbarSupportedContent">
          <div class="cssHgHijo nav-item">
            <a class="navNavegacionBotones" href="/">INICIO</a>
          </div>
          <div class="cssHgHijo">
            <a class="navNavegacionBotones" href="/contacto">CONTACTO</a>
          </div>
          <div class="cssHgHijo">
            <a class="navNavegacionBotones" href="/politicaDePrivacidad">POLITICA DE PRIVACIDAD</a>
          </div>
        </div>
      </div>
    </div>
  </nav>
