<div class="imgBloque1 container-fluid">

        <div class="col-sm-6 float-sm-end contenedorLema">
            <h1 class="h1 lema">
                INSPIRADOS EN LA JUSTICIA E INVOLUCRADOS EN EL RESPETO A LA VERDAD
            </h1>
        </div>

    <div class="row align-items-end cuadrosMenu">
        <div class="col cuadroMenuHijo">
            <a class="cuadroMenuHov3r" href="#">LA FIRMA</a>
        </div>
        <div class="col cuadroMenuHijo">
            <a class="cuadroMenuHov3r" href="/areasEspecializacion">AREAS DE ESPECIALIZACIÓN</a>
        </div>
        <div class="col cuadroMenuHijo">
            <a class="cuadroMenuHov3r" href="#">ACERCA DE NOSOTROS</a>
        </div>
        <div class="col cuadroMenuHijo">
            <a class="cuadroMenuHov3r" href="#">NUESTROS ABOGADOS</a>
        </div>
    </div>
</div>


</div>