<div class="imgBloque6 container-fluid">
    <div class="container-fluid overflow-hidden contenedorHijoBloque6">
        <div class="row-cols-1 datosIzqBloq6">
            <h1 class="datosNumericosIzq contador" data-cantidad-total="154">0</h1>
            <h2 class="textoDatosIzq">LITIGIOS</h2>
        </div>
        <div class="row-cols-1 datosIzqBloq6">
            <h1 class="datosNumericosIzq contador" data-cantidad-total="524">0</h1>
            <h2 class="textoDatosIzq">PROCESOS</h2>
        </div>
        <div class="row-cols-1 datosIzqBloq6">
            <h1 class="datosNumericosIzq contador" data-cantidad-total="725">0</h1>
            <h2 class="textoDatosIzq">CASOS</h2>
        </div>
        <div class="row-cols-1 datosDerBloq6">
            <h1 class="laFirmaH1">LA FIRMA</h1>
            <h1 class="numeroH1">+14</h1>
            <h1 class="aniosDeExp">AÑOS DE EXPERIENCIA</h1>
        </div>

    </div>
</div>