<div class="imgBloque5 container-fluid">
    <div class="container overflow-hidden bloque5hijo">
            <div class="row">
                <div class="col-6 col-sm-6">
                    <span>Nos caracteriza ser</span>
                    <span class="typed"></span>
                </div>
                <div class="col-6 col-sm-6">
                    <h2>Estamos aquí para acompañarlo en todo lo que necesite y brindarle un servicio efectivo y confiable</h2>
                </div>
            </div>
    </div>
</div>

