<!DOCTYPE html>
<html lang="en">
<%- include('head_scripts/head.ejs') %>
<body>
<header>
    <%- include('header_footer/header')%>
</header>
<div class="divContenedorLogInAdmin">
    <form>
        <h1>Bienvenido Administrador</h1>
        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="form2Example1" class="form-control" />
            <label class="form-label" for="form2Example1">Email</label>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="form2Example2" class="form-control" />
            <label class="form-label" for="form2Example2">Contraseña</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-4">
            <div class="col d-flex justify-content-center">
                <!-- Checkbox -->
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" />
                    <label class="form-check-label" for="form2Example31"> Recordarme</label>
                </div>
            </div>
        </div>

        <!-- Submit button -->
        <button type="button" class="btn btn-primary btn-block mb-4">Iniciar sesión</button>

    </form>
</div>
<%- include('header_footer/footer')%>
<%- include('head_scripts/scripts')%>
</body>
</html>