<!DOCTYPE html>
<html lang="en">
<%- include('head_scripts/head')%>
    <body>
        <header>
            <%- include('header_footer/header')%>
        </header>
        <div class="imgPolitica container-fluid">
            <div class="divHijoPolitica">
                <h6>Ultima actualización: 26/09/2021</h6>
                <br>
                <h3 class="titulosPolitica">Politica de privacidad</h3>
                <p>
                    Somos conscientes de que su información personal es muy importante  para usted, por lo cual en este apartado de la pagina le explicaremos que datos pueden ser recolectados por nuestra página web (magnaabogados.com) así como el uso que se hace con dicha información, nos gusta ser totalmente transparentes con los datos que usted nos proporciona, por lo tanto cada vez que pueda a llegar a cambiar el uso con los datos recolectados, esta sección será actualizada de inmediato para que usted este al tanto.
                </p>
                <h3 class="titulosPolitica">Recolección de información</h3>
                <p>
                    Nuestra pagina web recolecta información tal como su dirección IP, la cual no representa ningún contacto directo con su información privada, esta es una dirección que asigna su dispositivo de manera automática. También podemos recolectar información acerca del navegador web que esta utilizando y su sistema operativo. Podemos identificar a cuáles de nuestros enlaces correspondientes al dominio (magnaabogados.com) usted ha ingresado.<br>

                    <br>En el enlace de contacto, usted puede encontrar un formulario, el cual usted puede diligenciar, donde se requieren datos tales como nombres, apellidos, correo electrónico, numero de contacto y un mensaje opcional en el cual usted nos puede proporcionar la información que considere pertinente, esta información solo se llega a recolectar si es que usted completa el captcha y acepta los términos y condiciones y la política de privacidad de la página (magnaabogados.com/contacto), al momento que usted envíe el formulario, la información proporcionada se nos enviara vía Email.

                </p>
                <h3 class="titulosPolitica">Uso de la información</h3>
                <p>
                    Toda la información que llega a recolectar nuestra pagina web (magnaabogados.com) se utiliza únicamente con propósitos internos, tales como evaluar el numero de visitas a nuestro sitio web, enlaces a los que mas se accede y en general información que solo se utilizara para evaluar y mejorar nuestra página web.<br>

                    <br>Por otro lado, la información que usted nos proporcione voluntariamente en el formulario de contacto se utilizara para poder contactarle y brindarle nuestro servicio si así lo requiere.<br>
                    <br>Nada de la información recolectada automática o voluntariamente por la página web (magnaabogados.com) se usará con propósitos comerciales, envió de ofertas, ni divulgación externa a la empresa.

                </p>
                <h3 class="titulosPolitica">Sección para empleados</h3>
                <p>
                    La información recolectada por las bases de datos de la pagina web(magnaabogados.com) tales como usuarios y contraseñas son automáticamente encriptadas por nuestra página web.<br>
                    <br>La información que usted diligencie en los diferentes formularios y enlaces de la pagina se guardan y se usan solo con propósitos internos de la empresa, todos estos datos son exclusivos de su rol como empleado en la empresa y no son motivo de uso comercial ni de divulgación con terceros.

                </p>
                <h3 class="titulosPolitica">Cookies</h3>
                <p>
                    Nuestro sitio web no utiliza cookies propias, puede llegar a utilizar las cookies que usted tenga habilitadas en su navegador web y que pueden llegar a recolectar los datos que usted tenga permitidos.
                </p>
                <h3 class="titulosPolitica">Consentimiento</h3>
                <p>
                    Usando nuestra pagina web usted esta dando consentimiento de la recolección de datos automática que se especifica en el primer párrafo de la sección “Recolección de información”.<br>

                    <br>Aceptando los términos y condiciones en el formulario de contacto, usted nos da el consentimiento de tener la información que usted nos ha brindado voluntaria y conscientemente, se espera que lea detenidamente cada uno de los apartados de esta pagina para que este al tanto del manejo de la información que recolectamos.<br>

                    <br>Al inicio de esta pagina (magnaabogados.com/politicaDePrivacidad) se muestra la fecha mas reciente en la cual se actualizó la política de privacidad de la página, teniendo en cuenta que los cambios que se hallan echo correspondan con el ámbito de la información de nuestros usuarios o empleados.

                </p>
                <p style="font-weight: bold">
                    Si siente que no se están llegando a cumplir las políticas de privacidad aquí expresadas acordes con la ley estatutaria 1581 de 2012 de la constitución política de Colombia o tiene alguna duda sobre ello, por favor contáctenos vía telefónica al: 0000000 o vía Email a: magnaabogados@gmail.com
                </p>

            </div>



        </div>
    <%- include('header_footer/footer')%>
    <%- include('head_scripts/scripts')%>
    </body>
</html>