.imgAreasEspecializacion{
    width: 100%;
    position: relative;
    height: 90vh;
    justify-content: center;
    content: "";
    display: flex;
    left: 0;
    top: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.imgIzqAreas{
    height: 100% !important;
    opacity: 80%;
}